.app-container {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

.app-header {
  margin-bottom: 2rem;
}

.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.api-status {
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
}

.status-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.status-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
}

.animated-border-button {
  background: linear-gradient(90deg, #a855f7, #06b6d4, #a855f7);
  background-size: 200% 100%;
  animation: border-rotate 3s linear infinite;
  padding: 2px;
}

.inner-content {
  background: #1e293b;
  /* slate-800 */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
}

@keyframes border-rotate {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}